.App {
  text-align: center;
}

html,
body {
    margin: 0;
}

#App {
    font-family: sans-serif;

    /* Give app full page to work with */
    height: 100vh;
}

.center {
    text-align: center;
    margin: auto;
    width: 300px;
    padding: 10px;
}
